{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Корпоративный портал GRANDO{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/news_style.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <h1>Корпоративный портал Грандо Логистик</h1>
    </header>
    <nav>
      <ul>
        <li>
          <a href="{% url 'index' %}"><i class="fas fa-home"></i> Главная</a>
        </li>
        <li>
          <a href="{% url 'news_app:news_list' %}"
            ><i class="fas fa-newspaper"></i> Новости</a
          >
        </li>
        <li>
          <a href="{% url 'vacation_app:vacation_upload' %}"
            ><i class="fas fa-plane-departure"></i> Заявление на отпуск</a
          >
        </li>
        <li>
          <a href="{% url 'vacation_app:vacation_list' %}"
            ><i class="fas fa-list"></i> Список заявлений</a
          >
        </li>
        <li>
          <a href="{% url 'about_app:page_about' %}"
            ><i class="fas fa-users"></i> Сотрудники</a
          >
        </li>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'about_app:reference_book_list' %}"
            ><i class="fas fa-address-book"></i> Контактная информация</a
          >
        </li>
        <li>
          <a href="{% url 'users:logout' %}"
            ><i class="fas fa-sign-out-alt"></i> Выйти</a
          >
        </li>
        {% else %}
        <li>
          <a href="{% url 'users:login' %}"
            ><i class="fas fa-sign-in-alt"></i> Войти</a
          >
        </li>
        <li>
          <a href="{% url 'users:register' %}"
            ><i class="fas fa-user-plus"></i> Регистрация</a
          >
        </li>
        {% endif %}
      </ul>
    </nav>
    <div class="container">{% block content %} {% endblock %}</div>
    <footer>
      <img
        src="{% static 'images/logo.png' %}"
        alt="Грандо Логистик"
        class="footer-logo"
      />
    </footer>
  </body>
</html>
