{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новостная страница</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/news_app/news_style.css' %}">
</head>
{% block content %}
<body>
    <div class="container">
        <h1>Новостная страница</h1>
        {% if user.is_authenticated and perms.news_app.can_add_news_model %}
        <a href="{% url 'news_app:news_create' %}" class="create-link">Создать новость</a>
        {% endif %}
        <ul>
            {% for news_item in news_data %}
            <li class="news-item">
                <div class="news-title">{{ news_item.title }}</div>
                <div class="news-content">{{ news_item.content }}</div>
                <div class="news-date">Дата публикации: {{ news_item.published_at }}</div>
                {% if user.is_authenticated and perms.news_app.can_change_news_model %}
                <a href="{% url 'news_app:news_edit' news_item.id %}" class="edit-link">Редактировать</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
{% endblock %}
</html>
