{% extends 'base.html' %}

{% block content %}
    <h1>Список заявлений сотрудников</h1>
    
    <form method="get" action="{% url 'vacation_app:search_vac_data' %}">
        <input type="text" name="q" value="{{ query }}" placeholder="Введите имя для поиска">
        <button type="submit">Искать</button>
    </form>

    {% if vac_data %}
        <ul>
            {% for vac in vac_data %}
                <li>
                    ФИО: {{ vac.name }}
                    <br> Должность: {{ vac.job }}
                    <br> Статус: {{ vac.status_confirm }}
                    {% if user.is_authenticated and perms.vacation_app.can_edit_vacation_status %}
                        <br> <a href="{% url 'vacation_app:edit_vacation_status' vac.id %}">Обновить статус</a>
                    {% endif %}
                </li>
                <br>
            {% endfor %}
        </ul>

        <div class="pagination">
            <span class="step-links">
                {% if vac_data.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ vac_data.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ vac_data.number }} of {{ vac_data.paginator.num_pages }}.
                </span>

                {% if vac_data.has_next %}
                    <a href="?page={{ vac_data.next_page_number }}">Next</a>
                    <a href="?page={{ vac_data.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>Нет данных для отображения</p>
    {% endif %}
{% endblock %}
