{% extends 'base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacation List</title>
</head>
<body>
{% block content %}
<h1>Список заявлений сотудников</h1>
<ul>
    {% for vac in vac_data %}
    <li> ФИО: {{ vac.name }}</li>
    <li> Статус: {{ vac.status_confirm }}</li>
    <br>
    <td>
        <a href="{% url 'vacation_app:edit_vacation_status' vac.id %}">Обновить статус</a>
     </td>
    {% endfor %}
</ul>

<div class="pagination">
        <span class="step-links">
            {% if vac_data.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ vac_data.previous_page_number }}">Previous</a>

            {% endif %}

            <span class="current">
                Page {{ vac_data.number }} of {{ vac_data.paginator.num_pages }}.
            </span>

            {% if vac_data.has_next %}
                <a href="?page={{ vac_data.next_page_number }}">Next</a>
                <a href="?page={{ vac_data.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
</div>
{% endblock %}
</body>
</html>
