/* buttons.css */

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 1000;
}

button:hover {
  background-color: #45a049;
}
